automake
bc
bison
cloog
cmake
coreutils
devd
flex
gawk
gcc
gcc@5
git
gnu-sed
gperf
libksba
ninja
node
opencv
patchutils
pkg-config
postgresql
riscv/riscv/riscv-tools
ruby
sbt
spim
texinfo
vcs
verilator
watchman
wget
